.btn__contest{
    @apply bg-green-400 text-xl p-3 h-auto m-4;
}
.btn__contest:hover{
    @apply bg-green-300;
}
#twelve-star {
    @apply absolute font-semibold;
    height: 70px;
    width: 70px;
    top: 20px;
    right: 20px;
    border-color:red ;
}
#twelve-star .star__content{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
} 
#twelve-star:before {
    height: 100%;
    width: 100%;
    background: inherit;
    content: "";
    position: absolute;
    border-top: 1px solid;
    /* Rotate transform*/
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
#twelve-star:after {
    height: 100%;
    width: 100%;
    background: inherit;
    content: "";
    position: absolute;
    /* Rotate transform*/
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
