@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Caveat:wght@700&display=swap');

.main-logo{
    font-family: 'Caprasimo', cursive;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}
