@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.account__type_font{
  font-family: 'Lumanosimo', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text__title{
  @apply text-center font-bold text-3xl
}
.size__component{
  @apply w-full max-w-screen-2xl mx-auto px-8
}
.size__component .customNavigationSlide{
  @apply absolute -translate-y-1/2  bg-white text-black text-3xl opacity-60 hover:opacity-100;
  width: 60px;
  height: 60px;
  z-index: 10;
  border-radius: 50%
}
.size__component .customPrevSlide{
  @apply left-0 top-1/2 -translate-x-1/2 ;
}
.size__component .customNextSlide{
  @apply right-0 top-1/2 translate-x-1/2 ;
}
.btn__banner{
  @apply h-auto text-base text-white font-semibold px-6 py-2 ;
  background: linear-gradient(90deg,#fb0,#f80);
}
.btn__banner:hover{
  color: #fff !important;
  background: linear-gradient(274.97deg, #FFA800 3.25%, #FF7A00 118.9%)
}
.color__free{
  background-color: rgb(241,245,249);
  border-color: rgb(241,245,249) ;
}
.color__premium{
  background-color: yellow;
  border-color: yellow ;
}
.ant-table-thead .ant-table-cell{
  background-color: rgb(204, 249, 255) !important; 
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}