.card__border__gradient{
    width: 100%;
    margin: auto;
    border-radius: 24px;
    position: relative;
    border: 1px solid transparent;
    background-clip: padding-box;
}
.card__border__gradient::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px; 
    border: 2px solid transparent;
    background: linear-gradient(rgb(255,255,255), rgb(60, 98, 173)) border-box; 
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}
.card__border__gradient .ant-card-head{
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(255,255,255), rgb(60, 98, 173), rgb(255,255,255));
    border-image-slice: 1;
}
/* card statistics */
.card__icon__title{
    width: 80px;
    height: 80px;
    padding: 0 6px;
    border-radius: 10px;
    color: #03a9f4;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

/* card course */
.statsName{
    @apply font-bold text-sm;
}
.card__course{
    @apply overflow-hidden;
    height: 350px
}
.card__course.ant-card-small >.ant-card-head{
    @apply block;
    background-color: rgba(0, 0, 0, 0.2);
    height: 280px
}
.card__course:hover.ant-card-small >.ant-card-head{
    background-color: rgba(0, 0, 0, 0.6) ;
}
.card__course.ant-card .ant-card-head-wrapper{
    @apply block h-full w-full
}
.card__course.ant-card .ant-card-head-title{
    @apply block h-full w-full
}
.card__course.ant-card-small >.ant-card-body{
    background-color: rgba(0, 0, 0, 0.4);
    height: 70px;
}
.course__title{
    @apply w-full h-full relative p-4 text-white;

}
.course__premiumTag{
    @apply inline-block absolute top-3 right-0 text-center text-black;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-color: red;
}

.premiumTag::before{
    @apply absolute top-0 left-0;
    content: '';
    color: inherit;
    width: 30px;
    height: 30px;
    border-top: 15px solid inherit;
    border-left: 15px solid transparent;
    border-right: 15px solid inherit;
    border-bottom: 15px solid transparent;
    transform: translateX(-25px);
}
.premiumTag::after{
    @apply absolute bottom-0 left-0;
    content: '';
    width: 30px;
    height: 30px;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid inherit;
    border-bottom: 15px solid inherit;
    transform: translateX(-25px);
}
.course__name{
    @apply absolute bottom-3 left-1 text-lg;
    white-space: normal;
    transform-origin: bottom left;
    animation: fadeIn 1s;
}
.course__desc{
    @apply absolute;
    white-space: normal;
    opacity: 0;
    top: 50px;
    left: 10px;
    animation: fadeOut 1s;
}

.card__course:hover .course__desc{
    opacity: 1;
    animation: fadeIn 1s;
}
.card__course:hover .course__name{
    opacity: 0;
    animation: fadeOut 1s;
}
.course__info{
    @apply absolute bottom-3 left-1;
    opacity: 0;
    animation: fadeOut 1s;
}
.card__course:hover .course__info{
    opacity: 1;
    transform-origin: bottom left;
    animation: fadeIn 1s;
}
@keyframes fadeIn{
    from {
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes fadeOut{
    from {
        transform: scale(1);
        opacity: 1; 
    }
    to{
        transform: scale(0);
        opacity: 0; 
    }
}
.course__stats{
    @apply  grid grid-cols-3 gap-2 text-sm text-white;
}